@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.editor {
  contain: strict;
  will-change: background-image, background-size;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  tab-size: 2;
  font-variant-ligatures: none;
  color: #e5e7eb;
  caret-color: #ffffff;
  font-family: "SF Mono", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

.editor[data-hpsh-ready="true"] {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
